/*
* @Author: AIAI
* @Date:   2017-08-23 11:11:54
* @Last Modified by:   AIAI
* @Last Modified time: 2017-08-24 15:13:56
*/
*{
  margin:0;
  padding:0; 
  list-style:none;
  font-family:”微软雅黑”，”宋体”;
 }

 a{ 
 	text-decoration:none;
 }

